<!--
网站页脚 - 版权信息和额外链接
-->
<div class="footer-content">
    <div class="footer-copyright">
        &copy; {{ site.time | date: '%Y' }} {{ site.name }}. All rights reserved.
    </div>
    
    <div class="footer-links">
        <a href="/privacy.html">Privacy Policy</a>
        <span class="separator">|</span>
        <a href="/sitemap.xml">Sitemap</a>
        <span class="separator">|</span>
        <a href="{{ site.github_username | prepend: 'https://github.com/' }}/{{ site.github_username }}.github.io">
            <i class="fab fa-github"></i> Source
        </a>
    </div>
</div>
